{% extends "cursos/base.html" %}
{% load static %}

{% block title %}Mecatrônica{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'cursos/css/curso.css' %}">
<link rel="stylesheet" href="{% static 'cursos/css/quiz.css' %}">
{% endblock %}

{% block content %}

<section class="pagina-curso">

    <img src="{% static 'cursos/imagens/mecatronica1.jpg' %}" alt="Mecatrônica">

    <div>

        <h1>Curso de Mecatrônica</h1>

        <p>
            O curso de Mecatrônica integra mecânica,
            eletrônica e programação para automação
            industrial e robótica.
        </p>

    </div>

</section>

<section class="o-que-aprende">

    <div class="texto-curso">

        <h2>O que se desenvolve em Mecatrônica?</h2>

            <p>
                Ao longo do curso, você desenvolve conhecimentos que integram
                mecânica, eletroeletrônica, automação e informática. São trabalhados
                conteúdos relacionados a motores elétricos, sensores, atuadores,
                sistemas de controle, máquinas automatizadas, robótica e comandos
                numéricos computadorizados (CNC), além de projetos e manufatura
                auxiliados por computador (CAD/CAM).
            </p>
            
            <p>
                O curso também desenvolve a capacidade de projetar, instalar,
                operar e realizar a manutenção de máquinas e equipamentos
                automatizados. Na prática, você aprende a compreender como
                diferentes tecnologias podem trabalhar juntas para automatizar
                processos, sempre considerando normas de segurança e sustentabilidade.
            </p>

    </div>

</section>

<section class="areas-atuacao">

    <div class="texto-curso">

        <h2>Áreas para atuar depois de Mecatrônica</h2>

            <p>
                A formação em Mecatrônica permite atuar em diferentes setores
                industriais, principalmente em atividades relacionadas à automação,
                manutenção e instalação de sistemas mecatrônicos. Entre as
                possibilidades estão indústrias automobilísticas e metalomecânicas,
                empresas de automação industrial e fabricantes de máquinas e
                equipamentos robotizados.
            </p>
            
            <p>
                O profissional também pode trabalhar com instalação e manutenção
                de máquinas automatizadas, sistemas de controle e equipamentos
                robotizados, além de atuar em laboratórios de controle de qualidade,
                manutenção e pesquisa e em empresas prestadoras de serviços na área
                de Mecatrônica.
            </p>

    </div>

</section>

{% include "cursos/components/meca_quiz.html" with quiz_curso="mecatronica" %}

{% endblock %}
